@import "tailwindcss";
@layer base {
  button {
    @apply cursor-pointer;
  }
  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

@keyframes slowZoom{

from {
  transform: scale(1);
}
to {
  transform: scale(1.10);
}
}

.slow-zoom{
  animation: slowZoom 10s forwards;
  
}


.status-email-container {
  transition: opacity 0.5s ease-in-out;
}

.status-email-enter {
  opacity: 0;
}

.status-email-enter-active {
  opacity: 1;
}

.status-email-exit {
  opacity: 1;
}

.status-email-exit-active {
  opacity: 0;
}