@import "tailwindcss";
@layer base {
  button {
    @apply cursor-pointer;
  }
  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

@keyframes slowZoom{

from {
  transform: scale(1);
}
to {
  transform: scale(1.10);
}
}

.slow-zoom{
  animation: slowZoom 10s forwards;
  
}


.status-email-container {
  transition: opacity 0.5s ease-in-out;
}

.status-email-enter {
  opacity: 0;
}

.status-email-enter-active {
  opacity: 1;
}

.status-email-exit {
  opacity: 1;
}

.status-email-exit-active {
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes cardAppear {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.card-appear {
  animation: cardAppear 0.6s ease-out forwards;
}

@keyframes modalFadeInScaleUp {
  from {
    opacity: 0.5;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeOutScaleDown {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}


.modal-appear {
  animation: modalFadeInScaleUp 0.2s ease-out forwards;
}

.modal-disappear {
  animation: modalFadeOutScaleDown 0.2s ease-out forwards;
}